{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block head %}
    <!-- Uses super() to retain the original contents-->
    {{ super() }}
    <style type="text/css">

    </style>
{% endblock %}  
{% block body %}
<h1>Hello, World!</h1>
{% endblock %}
