<style type="text/css">
.metanav
{
    background-color: yellow;
}
</style>
<div class="page">
  <center><h1>Vital Parameter Records.</h1></center>
  <div class="metanav">
  <center>
  <table border="2">
  <th><tr>
  <td><strong>ObjectID</strong></td>
  <td><strong>#PID</strong></td>
  <td><strong>Temperature</strong></td>
  <td><strong>Pulse</strong></td>
  <td><strong>Posture</strong></td>
  </tr></th>
  {% for x in range(d_len) %}
  <tr>
  {% for y in range(5) %}
  <td>
  {{ a_random_list[x][y] }}
  </td>
  {% endfor %}
  </tr>
  {% endfor %}
  </table>
  </center>
  </div>
</div>
